#page-container {
    position: relative;
    min-height: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}

#content-wrap {
    padding-bottom: 5rem;
}

#footer {
    background: darkslategrey;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer a {
    color:white;
}

table.domino_table_task{
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 100%;
    height: 100%;
}
.domino_row_task{
}
td.domino_col_task{
    width: 14%;
    height: 25%;
}

button.absent{
    color: grey;
}
.countdown-title {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

p.accepted{
    background color: #7CFC00;
}
.failed{
    background color: crimson;
}
label.first_try_failed{
    background color: gold;
}
.title{
    position: absolute;
    left: 60;
    }
.position{
    position: fixed;
    width: 200px;
}
.outer {
    position: fixed;
    width: 200px;
}
.results{

}