{% extends "base.html" %}

{% block content %}
    <meta charset="utf-8">
    <h1 align="center"> Введите пароль </h1>
    <div class="form-group" align="center">
        <form method="post">
            <label for="admin_pass">Введите пароль администратора</label>
            <br>
            <br>
            <input name="admin_pass" id="admin_pass" type="password" class="form=control" required>
            <br>
            <br>
            <input type="submit" value="Отправить" class="btn btn-primary">
        </form>
    </div>
{% endblock %}