{% extends "base.html" %}

{% block content %}
    {% if state == 'not started' %}
        <h1 id="timer"></h1>
        <p hidden id="start_time">{{start_time}}</p>
        <script>
        // Set the date we're counting down to
        let start_time = document.getElementById("start_time");
        let time = start_time.innerHTML;
        let countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get todays date and time
            let now = new Date().getTime();

            // Find the distance between now an the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            let message = "Cоревнование начнётся через ";
            if (days > 0){
                message += days + " д ";
            }
            message += hours + " ч "
            + minutes + " м " + seconds + " сек";
            document.getElementById("timer").innerHTML = message;
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "Соревнование началось, обновите страницу";
            }
        }, 1000);
        </script>
    {% elif state == 'ended' %}
        <h1>Соревнование уже закончилось</h1>
    {% else %}
        <h1 id="timer"></h1>
        <p hidden id="end_time">{{end_time}}</p>
        <script>
        // Set the date we're counting down to
        let end_time = document.getElementById("end_time");
        let time = end_time.innerHTML;
        let countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get todays date and time
            let now = new Date().getTime();

            // Find the distance between now an the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            if (seconds < 10) seconds = "0" + seconds;
            if (minutes < 10) minutes = "0" + minutes;
            if (hours < 10) hours = "0" + hours;
            // Output the result in an element with id="demo"
            let message = "До конца соревнования ";
            message += hours + ":"
            + minutes + ":" + seconds;
            document.getElementById("timer").innerHTML = message;
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "Соревнование завершилось";
            }
        }, 1000);
        </script>
        <table class="domino_table_task">
            {% set rows = [0, 1, 2, 3] %}
            {% for row in rows %}
                <tr class="domino_row_task">
                    {% for key in keys[row * 7: row * 7 + 7] %}
                    {% set task = tasks[key] %}
                        <td class="domino_col_task">
                            {% if task['state'][-2:] == 'ok' %}
                                <div class="ok_task" title="Вы можете взять эту задачу">
                                    <form method="post">
                                        <input class="btn btn-primary btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'fs' %}
                                <div class="fs_task" title="У вас закончились попытки на сдачу этой задачи">
                                    <form method="post">
                                        <input class="btn btn-danger btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'ff' %}
                                <div class="ff_task" title="У вас осталась 1 попытка на сдачу этой задачи">
                                    <form method="post">
                                        <input class="btn btn-warning btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'af' or task['state'][-2:] == 'as' %}
                                <div class="accepted_task" title="Вы решили эту задачу">
                                    <form method="post">
                                        <input class="btn btn-success btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% else %}
                                <div class="ab_task" title="Все экземпляры этой задачи сейчас 'на руках' у других участников">
                                    <form method="post">
                                        <input class="btn btn-secondary btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}
        </table>
        {% if message %}
            <h2>{{message}}</h2>
        {% endif %}
        {% set i = 0 %}
        <div class="row">
        {% for task in picked_tasks %}
            <div class="col">
                <img src={{task['content']}} width="100%" height="50%">
                {% if not task['manual_check'] %}
                    <form method="post">
                        <div class="form-group">
                            <label for="name">{{task['name']}}</label>
                            <input value={{task['name']}} id="name" name="name" hidden>
                            <input class="form-control" type="text" placeholder="Введите Ваш ответ" name="answer">
                        </div>
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </form>
                {% else %}
                        {% set canvas = f"canvas_{i}" %}
                        {% set back = f"back_{i}" %}
                        {% set clear = f"clear_{i}" %}
                        {% set submit = f"submit_{i} %}
                        <canvas id={{canvas}} height="300" width="400"></canvas>
                        <div class="row">
                            <div class="col">
                            <button id={{back}} class="btn btn-primary">Отменить действие</button>
                            </div>
                            <div class="col">
                                <button id={{clear}} class="btn btn-primary">Очистить</button>
                            </div>
                            <div class="col">
                            <button id={{submit}} class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    <script>
                        var result = new Array();
                        canvas = document.getElementById({canvas});
                        writing = function(e) {
                          var x = e.offsetX==undefined?e.layerX:e.offsetX;
                          var y = e.offsetY==undefined?e.layerY:e.offsetY;

                          if (result.length % 2 == 0){
                            if (canvas.getContext) {
                                var ctx = canvas.getContext('2d');
                                ctx.fillRect(x - 1, y - 1, 3, 3);
                                ctx.beginPath();
                                ctx.moveTo(x, y);
                            }
                          }
                          else{
                              if (canvas.getContext) {
                                var ctx = canvas.getContext('2d');
                                ctx.lineTo(x, y);
                                ctx.closePath();
                                ctx.stroke();
                                ctx.fillRect(x - 1, y - 1, 3, 3);
                              }
                          }
                          result.push([x, y]);
                        }
                        get_back = function() {
                          if (result.length > 0){
                          points = [result.pop(), result.pop()];
                          if (canvas.getContext) {
                                var ctx = canvas.getContext('2d');
                                ctx.fillStyle = '#FFFFFF';
                                ctx.strokeStyle = '#FFFFFF';
                                ctx.fillRect(points[1][0] - 1, points[1][1] - 1, 3, 3);
                                ctx.beginPath();
                                ctx.moveTo(points[1][0], points[1][1]);
                                ctx.lineTo(points[0][0], points[0][1]);
                                ctx.closePath();
                                ctx.stroke();
                                ctx.fillRect(points[0][0] - 1, points[0][1] - 1, 3, 3);
                                ctx.fillStyle = 'rgb(0,0,0)';
                                ctx.strokeStyle = 'rgb(0,0,0)';
                            }
                          }
                        }
                        clear = function(){
                          result = new Array();
                          }
                          if (canvas.getContext) {
                             var ctx = canvas.getContext('2d');
                             ctx.clearRect(0, 0, 400, 300);
                          }
                        }
                        submit = function(){
                            $.post("game": "domino",
                                   "task":
                        document.getElementById({back}).onclick = get_back;
                        document.getElementById({canvas}).onclick = writing;
                        document.getElementById({clear}).onclick = clear;
                        document.getElementById({submit}).onclick = submit;
                    </script>
                % i = i + 1 %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
        </div>
{% endblock %}