{% extends "base.html" %}

{% block content %}
    {% if state == 'not started' %}
        <h1 id="timer"></h1>
        <p hidden id="start_time">{{start_time}}</p>
        <script>
        // Set the date we're counting down to
        let start_time = document.getElementById("start_time");
        let time = start_time.innerHTML;
        let countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get todays date and time
            let now = new Date().getTime();

            // Find the distance between now an the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            let message = "Cоревнование начнётся через ";
            if (days > 0){
                message += days + " д ";
            }
            message += hours + " ч "
            + minutes + " м " + seconds + " сек";
            document.getElementById("timer").innerHTML = message;
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "Соревнование началось, обновите страницу";
            }
        }, 1000);
        </script>
    {% elif state == 'ended' %}
        <h1>Соревнование уже закончилось</h1>
    {% else %}
        <h1 id="timer"></h1>
        <p hidden id="end_time">{{end_time}}</p>
        <script>
        // Set the date we're counting down to
        let end_time = document.getElementById("end_time");
        let time = end_time.innerHTML;
        let countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get todays date and time
            let now = new Date().getTime();

            // Find the distance between now an the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            if (seconds < 10) seconds = "0" + seconds;
            if (minutes < 10) minutes = "0" + minutes;
            if (hours < 10) hours = "0" + hours;
            // Output the result in an element with id="demo"
            let message = "До конца соревнования ";
            message += hours + ":"
            + minutes + ":" + seconds;
            document.getElementById("timer").innerHTML = message;
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "Соревнование завершилось";
            }
        }, 1000);
        </script>
        <table class="domino_table_task">
            {% set rows = [0, 1, 2, 3] %}
            {% for row in rows %}
                <tr class="domino_row_task">
                    {% for key in keys[row * 7: row * 7 + 7] %}
                    {% set task = tasks[key] %}
                        <td class="domino_col_task">
                            {% if task['state'][-2:] == 'ok' %}
                                <div class="ok_task" title="Вы можете взять эту задачу">
                                    <form method="post">
                                        <input class="btn btn-primary btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'fs' %}
                                <div class="fs_task" title="У вас закончились попытки на сдачу этой задачи">
                                    <form method="post">
                                        <input class="btn btn-danger btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'ff' %}
                                <div class="ff_task" title="У вас осталась 1 попытка на сдачу этой задачи">
                                    <form method="post">
                                        <input class="btn btn-warning btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% elif task['state'][-2:] == 'af' or task['state'][-2:] == 'as' %}
                                <div class="accepted_task" title="Вы решили эту задачу">
                                    <form method="post">
                                        <input class="btn btn-success btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% else %}
                                <div class="ab_task" title="Все экземпляры этой задачи сейчас 'на руках' у других участников">
                                    <form method="post">
                                        <input class="btn btn-secondary btn-lg btn-block" id="picked" name="picked"
                                               type="submit" value={{task['name']}}>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}
        </table>
        {% if message %}
            <h2>{{message}}</h2>
        {% endif %}
        <div class="row">
        {% for task in picked_tasks %}
            <div class="col">
                <img src={{task['content']}} width="100%" height="50%">
                {% if not task['manual_check'] %}
                    <form method="post">
                        <div class="form-group">
                            <label for="name">{{task['name']}}</label>
                            <input value={{task['name']}} id="name" name="name" hidden>
                            <input class="form-control" type="text" placeholder="Введите Ваш ответ" name="answer">
                        </div>
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </form>
                {% else %}
                    <canvas id={{task[name]}} > </canvas>

            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}