{% extends "base.html" %}

{% block content %}
    <table class="domino_table_task">
        {% set rows = [0, 1, 2, 3] %}
        {% for row in rows %}
            <tr class="domino_row_task">
                {% for key in keys[row * 7: row * 7 + 7] %}
                {% set task = tasks[key] %}
                    <td class="domino_col_task">
                        {% if task['state'] == 'ok' %}
                            <form method="post">
                                <input class="btn btn-primary btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% elif task['state'] == 'failed' %}
                            <form method="post">
                                <input class="btn btn-danger btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% elif task['state'] == 'first_try_failed' %}
                            <form method="post">
                                <input class="btn btn-warning btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% elif task['state'] == 'hand' %}
                            <form method="post">
                                <input class="btn btn-info btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% elif task['state'] == 'accepted' %}
                            <form method="post">
                                <input class="btn btn-success btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% elif task['state'] == 'absent' %}
                            <form method="post">
                                <input class="btn btn-secondary btn-lg btn-block" id="picked" name="picked" type="submit" value={{task['name']}}>
                            </form>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
    <div class="row">
    {% for key in picked_tasks %}
        {% set task = tasks[key] %}
        <div class="col">
            <img src={{task['content']}} width="100%" height="50%">
            <form method="post">
                <div class="form-group">
                    <label for="name">{{task['name']}}</label>
                    <input value={{task['name']}} id="name" name="name" hidden>
                    <input class="form-control" type="text" placeholder="Введите Ваш ответ" name="answer">
                </div>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
    {% endfor %}
    </div>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
{% endblock %}