{% extends "base.html" %}

{% block content %}
{% if not_task %}
    <h3>На данный момент нет непроверенных задач</h3>
{% else %}
    <p id="result" hidden>0;0 55;55 121;121 100;254</p>
    <p>0-0</p>
    <canvas id="canvas" height="300" width="400"></canvas>
    <button class="btn btn-success" id='accepted'>Верно</button>
    <button class="btn btn-warning" id="wrong_answer">Неверно</button>
    <script>
        let result = document.getElementById("result").innerHTML;
        result = result.split(" ");
        let canvas = document.getElementById("canvas");
        for (i = 0; i < result.length; i+= 2){
          f_p = result[i].split(';');
          s_p = result[i + 1].split(";");
          if (canvas.getContext){
            ctx = canvas.getContext('2d');
            ctx.fillRect(f_p[0] - 1, f_p[1] - 1, 3, 3);
            ctx.beginPath();
            ctx.moveTo(f_p[0], f_p[1]);
            ctx.lineTo(s_p[0], s_p[1]);
            ctx.closePath();
            ctx.stroke();
            ctx.fillRect(s_p[0] - 1, s_p[1] - 1, 3, 3);
          }
        }
        document.getElementById('accepted').onclick = $.post("/manual_checking/" + {{game}} + "/" + {{grade}},
                                                                                  {"team":{{team}}
                                                                                   "task":{{task_name}}
                                                                                   "result":true);
        getElementById('wrong_answer').onclick = $.post("/manual_checking/" + {{game}} + "/" + {{grade}},
                                                                                  {"team":{{team}}
                                                                                   "task":{{task_name}}
                                                                                   "result":false);

    </script>
{% endif %}
{% endblock %}