{% extends "base.html" %}

{% block content %}
{% if not_task %}
    <h3>На данный момент нет непроверенных задач</h3>
{% else %}
    <p>{{task_name}}</p>
    {% if ans_picture %}
        <canvas id="canvas" height="300" width="400" style = "border:2px solid black"></canvas>
        <button class="btn btn-success" id='accepted'>Верно</button>
        <button class="btn btn-danger" id="wrong_answer">Неверно</button>
        <script>
            let result = "{{task_result}}";
            if (result == ''){
                $.post("/manual_checking/{{game}}/{{grade}}", {team: '{{team}}',
                                                           task: '{{task_name}}',
                                                           result: false});
                window.location.reload();
            }
            result = result.split(" ");
            let canvas = document.getElementById("canvas");
            for (var i = 0; i < result.length; i+= 2){
              let f_p = result[i].split(';');
              let s_p = result[i + 1].split(";");
              if (canvas.getContext){
                ctx = canvas.getContext('2d');
                ctx.fillRect(f_p[0] - 1, f_p[1] - 1, 3, 3);
                ctx.beginPath();
                ctx.moveTo(f_p[0], f_p[1]);
                ctx.lineTo(s_p[0], s_p[1]);
                ctx.closePath();
                ctx.stroke();
                ctx.fillRect(s_p[0] - 1, s_p[1] - 1, 3, 3);
              }
            }
            accepted = function(){
            $.post("/deb5b702b8e7cd15788ce1a96fa93e7c/{{game}}/{{grade}}", {team: '{{team}}',
                                                           task: '{{task_name}}',
                                                           result: true});
            window.location.reload();
            }
            wrong_answer = function(){
            $.post("/deb5b702b8e7cd15788ce1a96fa93e7c/{{game}}/{{grade}}", {team: '{{team}}',
                                                           task: '{{task_name}}',
                                                           result: false});
            window.location.reload();
            }
            document.getElementById('accepted').onclick = accepted;
            document.getElementById('wrong_answer').onclick = wrong_answer;

        </script>
    {% else %}
        <a id="result">{{task_result}}</a>
        <button class="btn btn-success" id='accepted'>Верно</button>
        <button class="btn btn-danger" id="wrong_answer">Неверно</button>
        <script>
            accepted = function(){
            $.post("/deb5b702b8e7cd15788ce1a96fa93e7c/{{game}}/{{grade}}", {team: '{{team}}',
                                                           task: '{{task_name}}',
                                                           result: true});
            }
            wrong_answer = function(){
            $.post("/deb5b702b8e7cd15788ce1a96fa93e7c/{{game}}/{{grade}}", {team: '{{team}}',
                                                           task: '{{task_name}}',
                                                           result: false});
            }
            document.getElementById('accepted').onclick = accepted;
            document.getElementById('wrong_answer').onclick = wrong_answer;
        </script>
    {% endif %}
{% endif %}
{% endblock %}