{% extends "base.html" %}

{% block content %}
    {% for key in keys %}
        {% set task = tasks[key] %}
        {% set state = "penalty_task" + task['state'] %}
            <div>
                <img src={{info[key]['content']}} width="100%" height="35%">
                    <form method="post">
                        <div class="form-group">
                            <label class={{state}} for="name">{{task['name']}}. Эта задача стоит {{info[key]['cost']}} б.</label>
                            <input value={{task['name']}} id="name" name="name" hidden>
                            <input class="form-control" type="text" placeholder="Введите Ваш ответ" name="answer">
                        </div>
                        {% if task['state'] in ['failed', 'accepted'] %}
                            <button class="btn btn-primary" type="submit" disabled>Отправить</button>
                        {% else %}
                            <button class="btn btn-primary" type="submit">Отправить</button>
                        {% endif %}
                    </form>
            </div>
    {% endfor %}
{% endblock %}