{% extends "base.html" %}

{# Шаблон для отображения страницы "Правила" #}

{% block content %}
    <h1>Правила</h1>
    <h3>
        Убедительно просим прочитать правила математических игр, так как в связи с онлайн проведением есть изменения.
        <br>
        <a href="https://docs.google.com/document/d/1iCGMIWP-m3qbIKfbRijhix3jKZwIFfrT0SgwxlYUl3U/edit">Правила Пенальти</a>
        <br>
        <a href="https://docs.google.com/document/d/1w7ik7rlGeyniUWCvEGoZvz3WKsm13CjaYt1Z-JChNxM/edit">Правила Домино</a>
        <br>
    </h3>
    <h3>Остались вопросы? Пишите - <a href="https://vk.com/1vanovan" target="_blank">https://vk
        .com/1vanovan</a></h3>
{% endblock %}