{% extends "base.html" %}

{# Шаблон для отображения страницы "Регистрация" #}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post" novalidate>
        {{ form_team.hidden_tag() }}

        {# Логин #}
        <p>
            {{ form_team.login(class="form-control", placeholder=form_team.login.label.text) }}<br>
            {% for error in form_team.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        {# Пароль #}
        <p>
            {{ form_team.password(class="form-control", placeholder=form_team.password.label.text) }}<br>
            {% for error in form_team.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        {# Название команды #}

        <p>
            {{ form_team.team_name(class="form-control", placeholder=form_team.team_name.label.text) }}<br>
            {% for error in form_team.team_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        {# Выбор класса #}
        <p>
            {{ form_team.grade.label }}<br>
            {{ form_team.grade(class="form-control") }}<br>
            {% for error in form_team.grade.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        {# Формы регистрации членов команды #}
        {% for i in [1, 2, 3, 4] %}
            <div class="container" style="background: #f2f2f2">
                <h3>{{ loop.index }}-й член команды</h3>

                {# Имя участника #}
                <p>
                    {{ form_member.name(class="form-control", placeholder=form_member.name.label.text) }}<br>
                    {% for error in form_member.name.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                {# Фамилия участника #}
                <p>
                    {{ form_member.surname(class="form-control", placeholder=form_member.surname.label.text) }}<br>
                    {% for error in form_member.surname.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                {# Школа члена команды #}
                <p>
                    {{ form_member.school(class="form-control", placeholder=form_member.school.label.text) }}<br>
                    {% for error in form_member.school.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

            </div>
        {% endfor %}

        <p>{{ form_team.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <br>
{% endblock %}