{% extends "base.html" %}

{# Страница регистрации #}

{% block content %}
    <h1>Регистрация</h1>
    <p style="color: red">Все поля с знаком "*" обязательны для заполнения</p>
    <p style="color: red">Имя и фамилия вводятся на русском языке с заглавной буквы;</p>
    <p style="color: red">Запомните логин и пароль, эти данные необходимы для входа;</p>

    <form method="post">
        <div>
            {{ form.csrf_token }}
        </div>

        {# Форма регистрации пользователя (поля логина, пароля, имени, фамилии, выбора класса, школы,
           учителей, информации #}

        <div class="form-group">
            {% for field in form %}
                <div class="form-group">
                    {{ field(class="form-control", placeholder=field.label.text) }}
                </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        {# Предупреждение об используемом логине #}

        {% if login_used %}
            <div class="alert alert-danger" role="alert">
                Этот логин уже используется. Введие другой, пожалуйста
            </div>
            <br>
        {% endif %}



        {# Кнопка отправки #}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <br>
{% endblock %}