{% extends "base.html" %}

{# Шаблон для отображения главной страницы" #}

{% block content %}
    <h1 style="text-align: center">Главное о ТЮМ 72</h1>
    <h3>
        Здесь должны быть слова, но пока их нет
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique libero est, quis
        lacinia ligula blandit at. Phasellus sodales ex vitae magna pulvinar suscipit. Cras purus
        ligula, porta id urna vitae, luctus eleifend diam. Donec placerat massa vestibulum metus
        tincidunt maximus. Etiam vestibulum finibus velit, sollicitudin ullamcorper libero semperut.
    </h3>
{% endblock %}