{% extends "profile.html" %}

{% block section %}
    <h3><a href="/create_game_form">Создать игру</a></h3>
    {% for game in games %}
        <div>
            <h3>{{ game['common'][0][1] }}</h3>
            <div class="row">
                <div class="col">
                    <h4>Общая информация</h4>
                </div>
                <div class="col">
                    <h4><a href="/update_game/{{ game['common'][0][1] }}/common">Изменить</a></h4>
                </div>
            </div>
            {% for row in game['common'] %}
                <div class="row">
                    <div class="col">
                        <p>{{ row[0] }}</p>
                    </div>
                    <div class="col">
                        <p>{{ row[1] }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <h4>Информация о задачах</h4>
                </div>
                <div class="col">
                    <h4><a href="/update_game/{{ game['common'][0][1] }}/tasks">Изменить</a></h4>
                </div>
            </div>
            {% for row in game['tasks'] %}
                <div class="row">
                    <div class="col">
                        <p>{{ row[0] }}</p>
                    </div>
                    <div class="col">
                        <p>{{ row[1] }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <h4>Информация о авторах и проверяющих</h4>
                </div>
                <div class="col">
                    <h4><a href="/update_game/{{ game['common'][0][1] }}/authors_and_checkers">Изменить</a></h4>
                </div>
            </div>
            {% for row in game['authors_and_checkers'] %}
                <div class="row">
                    <div class="col">
                        <p>{{ row[0] }}</p>
                    </div>
                    <div class="col">
                        <p>{{ row[1] }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                    <div class="col">
                        <h4>Информация о допустимых размерах команд</h4>
                    </div>
                    <div class="col">
                        <h4><a href="/update_game/{{ game['common'][0][1] }}/team">Изменить</a></h4>
                    </div>
            </div>
            {% for row in game['team'] %}
                <div class="row">
                    <div class="col">
                        <p>{{ row[0] }}</p>
                    </div>
                    <div class="col">
                        <p>{{ row[1] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}