{% extends "profile.html" %}

{% block section %}
    <h3><a href="/add_task">Добавить задачу</a> </h3>
    <h3><a href="/create_game_form">Создать игру</a></h3>
    {% for game in games %}
        <tr>
            <h3>{{ game['common'][0][1] }}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h4>Общая информация</h4></th>
                        <th scope="col">
                            <h4>
                                <a href="/update_game/{{ game['common'][0][1] }}/common">Изменить</a>
                            </h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in game['common'] %}
                    <tr>
                        <th scope="row">{{ row[0] }}</th>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h4>Информация о наборах задачах</h4></th>
                        <th scope="col">
                            <h4>
                                <a href="/update_game/{{ game['common'][0][1] }}/tasks">Изменить</a>
                            </h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in game['common'] %}
                    <tr>
                        <th scope="row">{{ row[0] }}</th>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>Информация о задачах</h4>
            <table class="table">
                {% for task in game['tasks_positions'] %}
                        <tr>
                            <td>{{ task[0] }}</td>
                            <td>{{ task[1] }}</td>
                            <td>
                                <a class="btn btn-primary" href="">Выбрать задачу из архива</a>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                   href="/add_task/{{  game['common'][0][1]  }}/{{ task[0] }}/{{ task[1] }}">
                                    Добавить новую задачу
                                </a>
                            </td>

                        </tr>
                {% endfor %}
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h4>Информация о авторах и проверяющих</h4></th>
                        <th scope="col">
                            <h4>
                                <a href="/update_game/{{ game['common'][0][1] }}/authors_and_checkers">Изменить</a>
                            </h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in game['common'] %}
                    <tr>
                        <th scope="row">{{ row[0] }}</th>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><h4>Информация о допустимых размерах команд</h4></th>
                        <th scope="col">
                            <h4>
                                <a href="/update_game/{{ game['common'][0][1] }}/team">Изменить</a>
                            </h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for row in game['common'] %}
                    <tr>
                        <th scope="row">{{ row[0] }}</th>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}