{% extends "profile.html" %}

{% block section %}
    <h3>Заблокировать пользователя</h3>
    <form method="post" novalidate>
        <div>
            {{ ban_form.csrf_token }}
        </div>
        <div class="form-group">
                {% for field in ban_form if field.name != 'csrf_token' %}
                    {% if field.name == 'submit' %}
                        {{ field(class="btn btn-primary") }}
                    {% else %}
                        <div class="form-group">
                            {{ field.label() }}
                            {{ field(class="form-control")}}
                        </div>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <br>
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
    </form>
    <h3>Разблокировать пользователя</h3>
    <form method="post" novalidate>
        <div>
            {{ pardon_form.csrf_token }}
        </div>
        <div class="form-group">
                {% for field in pardon_form if field.name != 'csrf_token' %}
                    {% if field.name == 'submit' %}
                        {{ field(class="btn btn-primary") }}
                    {% else %}
                        <div class="form-group">
                            {{ field.label() }}
                            {{ field(class="form-control")}}
                        </div>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <br>
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
    </form>
{% endblock %}