{% extends "profile.html" %}

{% block section %}
    {% if not is_teacher %}
        <h3>Вступить в команду</h3>
    {% else %}
        <h3>Сделать капитаном</h3>
    {% endif %}
    {% for team in teams %}
        <a class="btn btn-primary" href="#{{ team['title'] }}">Перейти к команде "{{ team['title'] }}"</a>
        <br>
    {% endfor %}
    <form method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        <div class="form-group">
                {% for field in form if field.name != 'csrf_token' %}
                    {% if field.name == 'submit' %}
                        {{ field(class="btn btn-primary") }}
                    {% else %}
                        <div class="form-group">
                            {{ field.label() }}
                            {{ field(class="form-control")}}
                        </div>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <br>
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
    </form>
    <div>
        {% for team in teams %}
            <div id="{{ team['title'] }}">
                <h3>{{ team['title'] }} </h3>
                <h4>{{ team['grade'] }} класс</h4>
                <h4>Капитан: {{ team['captain'] }}</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Логин</th>
                            <th scope="col">ФИО</th>
                        </tr>
                    </thead>
                    {% for i in range(1, team['size'] + 1) %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ team['members'][i - 1]['login'] }}</td>
                            <td>
                                {{ team['members'][i - 1]['name'] }} {{ team['members'][i - 1]['surname'] }}
                                {{ team['members'][i - 1]['last_name'] }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}