{% extends "base.html" %}

{# Шаблон для отображения страницы "Правила" #}

{% block content %}
    <h1>Правила</h1>
    <h3>
        Убедительно просим прочитать правила математических игр и участия в них, так как в связи с онлайн проведением есть изменения.
    </h3>
        <br>
        <h3>
            <a href="https://docs.google.com/document/d/1iCGMIWP-m3qbIKfbRijhix3jKZwIFfrT0SgwxlYUl3U/edit?usp=sharing">
                Правила Пенальти
            </a>
        </h3>
        <br>
        <h3>
            <a href="https://docs.google.com/document/d/1w7ik7rlGeyniUWCvEGoZvz3WKsm13CjaYt1Z-JChNxM/edit?usp=sharing">
                Правила Домино
            </a>
        </h3>
        <br>
        <h3>
            <a href="https://docs.google.com/document/d/1J136Qtwi7nRQ7L44XULAd1DCpWVuwDFzYutM9LOIvyI/edit?usp=sharing">
                Правила участия
            </a>
        </h3>
{% endblock %}