{% extends 'base.html' %}
{% block content %}

    <h1>Задача {{ task.id }}</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Минимальный рекомендуемый класс:</h4>
            </div>
            <div class="col-sm">
                <h4>{{ task.min_grade }}</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <h4>Максимальный рекомендуемый класс:</h4>
            </div>
            <div class="col-sm">
                <h4>{{ task.max_grade }}</h4>
            </div>
        </div>
        <br>
        <div class="row"><h4>Условие:</h4></div>
        <div class="row">
            <p id="condition" style="border:1px solid; padding: 3px; width:50%; margin-top:5px">
                {{ condition }}
            </p>
        </div>

        <br>
        {% if task.have_solution == True %}
            <div class="row"><h4>Решение:</h4></div>
            <div class="row">
            <p id="solution" style="border:1px solid; padding: 3px; width:50%; margin-top:5px">
                {{ solution }}
            </p>
            </div>
        {% endif %}
    </div>
{% endblock %}